/* SignUp.css */

.signup-container {
  height: 100vh;
  width: 100vw;
  background-color: #fce4ec;
  display: flex;
  justify-content: center;
  align-items: center;
}


.signup-title {
  font-size: 2.5rem;
  color: #8244af;
  margin-bottom: 2rem;
  font-weight: bold;
}

.google-btn {
  background-color: #ff85a2;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background 0.3s ease;
}

.google-btn:hover {
  background-color: #ff5c8a;
}
